*************************    IMPORT PANDAS  *****************************

In [ ]:
print('program use only import pandas')
import pandas
mydataset={
    "clockname": ["titanic","zamando","podara"],
    "price" : [100,200,150]
}
df=pandas.DataFrame(mydataset)
print(df)

  clockname  price
0   titanic    100
1   zamando    200
2    podara    150

************************** IMPORT PANDAS AS PD    **********************

In [3]:
print('import pandas as pd for name alias')
import pandas as pd
mydataset={
    "stuname":["Anu","Kanu","Radha","Ram","sham","jyoti"],
    "classname": ["a1","a2","a3","a4","a5","a6"],
    "rollno": [101,102,103,401,303,202],
    "marks":[300,200,354,433,234,455]
}
df=pd.DataFrame(mydataset)
print(df)

import pandas as pd for name alias
  stuname classname  rollno  marks
0     Anu        a1     101    300
1    Kanu        a2     102    200
2   Radha        a3     103    354
3     Ram        a4     401    433
4    sham        a5     303    234
5   jyoti        a6     202    455

****************  CHECK PANDAS VERSION   *******************

In [4]:
print('check pandas version')
import pandas as pd
print(pd.__version__)

check pandas version
2.2.3

REMEMBER
Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series