**********************  PANDAS SERIES BY LIST   ***************

In [2]:
print('create simple pandas series from the list')
import pandas as pd
list1=[100,200,300,400,500,550,444,600]
df=pd.Series(list1)
print(df)

create simple pandas series from the list
0    100
1    200
2    300
3    400
4    500
5    550
6    444
7    600
dtype: int64

In [5]:
print('return the first value of series')
print(df[3])

return the first value of series
400

In [7]:
print('With the index argument, you can name your own labels.')
import pandas as pd
list2=['argu1','argu2','argu3','argu4','argu5']
df=pd.Series(list2,index=["a1","a2","a3","a4","a5"])
print(df)

With the index argument, you can name your own labels.
a1    argu1
a2    argu2
a3    argu3
a4    argu4
a5    argu5
dtype: object

In [8]:
print('return iteam by label name')
print(df["a4"])

return iteam by label name
argu4

****************     PANDAS SERIES FROM A DICTIONARY   ***********************

In [11]:
print('Create a simple Pandas Series from a dictionary:')
import pandas as pd
fruits={"day1": "apple", "day2": "banana", "day3": "kiwi"}
df=pd.Series(fruits)
print(df)

Create a simple Pandas Series from a dictionary:
day1     apple
day2    banana
day3      kiwi
dtype: object

In [19]:
print('Create a Series using only data from index')
import pandas as pd
calories={"day1":200,"day2":240,"day3":300}
df=pd.Series(calories , index=['day1','day2','day3'])
#df=pd.Series(calories, index=["good","ok","verygood"])
print(df)

Create a Series using only data from index
day1    200
day2    240
day3    300
dtype: int64

******************* DATA FRAMES  ******************

In [24]:
print('Create a DataFrame from two Series:')
import pandas as pd
info={
    "classname": ['first','second','third'],
    "result": ['good','ok','bad']
}
df=pd.DataFrame(info)
print(df)
print('locate row from index value')
print(df.loc[1])
print(df.loc[[1,0]])

Create a DataFrame from two Series:
  classname result
0     first   good
1    second     ok
2     third    bad
locate row from index value
classname    second
result           ok
Name: 1, dtype: object
  classname result
1    second     ok
0     first   good

In [25]:
print('With the index argument, you can name your own indexes.')
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

With the index argument, you can name your own indexes.
      calories  duration
day1       420        50
day2       380        40
day3       390        45