In [2]:
import pandas as pd

TOPIC 1    *****************  SERIES   ********************************

In [ ]:
print('prog related with series')
print('create list, label and dictionary')
l1=[1,2,3,4,5,6]
labels=['a','b','c','d','e','f']
d1={"A":10,"B":20,"C":30,"D":40,"E":50}

prog related with series

In [ ]:
print('create series of list')
s1=pd.Series(l1)
s1
s1[4]

np.int64(5)

In [ ]:
print('check list datatype')
print(type(s1))

<class 'pandas.core.series.Series'>

In [ ]:
print('create series of labels')
s2=pd.Series(labels)
s2

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [ ]:
print('check the data accoring to index value')
s2[5]

'f'

In [ ]:
print('chage the data and index values')
s3=pd.Series(data=l1,index=labels)
s3

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [12]:
s3['a']

np.int64(1)

In [13]:
s3[0]

C:\Users\PC\AppData\Local\Temp\ipykernel_15552\397937684.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s3[0]

np.int64(1)

In [ ]:
print('create series of dictionary')
pd.Series(d1)

A    10
B    20
C    30
D    40
E    50
dtype: int64

DATA FRAMES
IN THIS WHEN WE CREATE OUR ARRAY THEN USE NUMPY. WITH NUMPY CREATE ARRAY WHOES LOW AND HIGH VALUES IS GIVEN THEN IT PICKS THE RANDOM VALUES

In [15]:
import numpy as np
arr=np.random.randint(low=1,high=100,size=(5,6))
arr

array([[47, 90, 20, 32, 48, 23],
       [19, 27,  9, 81, 90,  6],
       [72, 78, 63, 68, 29, 42],
       [20, 11, 53, 26, 25, 58],
       [42, 42, 49,  6, 51, 88]], dtype=int32)

In [16]:
type(arr)

numpy.ndarray

In [22]:
print('data convert into dataframe')
data=pd.DataFrame(arr)
data
#print(data)
#type(data)

data convert into dataframe

    0   1   2   3   4   5
0  47  90  20  32  48  23
1  19  27   9  81  90   6
2  72  78  63  68  29  42
3  20  11  53  26  25  58
4  42  42  49   6  51  88

In [23]:
print('change the index and column values of dataframe')
df=pd.DataFrame(arr, index=["A","B","C","D","E"], columns=["U","V","W","X","Y","Z"])
df

change the index and column values of dataframe

    U   V   W   X   Y   Z
A  47  90  20  32  48  23
B  19  27   9  81  90   6
C  72  78  63  68  29  42
D  20  11  53  26  25  58
E  42  42  49   6  51  88

GRABBING COLUMNS (Locate column)
WE CAN GRAB COLUMN FROM ARRAY BY USING ITS COLUM NAME. HERE WE ONLY GIVES THE COLUMN NAME.

GRABBING ROWS (Locate Row)
WHEN WE GRAB THE ROWS THE WE USE LOC AND INDEX NUMBER FROM ROW.

In [27]:
print('grab the column')
df["X"]
df[["X","Y","Z"]]

grab the column

    X   Y   Z
A  32  48  23
B  81  90   6
C  68  29  42
D  26  25  58
E   6  51  88

In [30]:
print('grabbing rows')
df.loc["C"]
df.loc[["A","B","C"]]

grabbing rows

    U   V   W   X   Y   Z
A  47  90  20  32  48  23
B  19  27   9  81  90   6
C  72  78  63  68  29  42

In [10]:
print('create dictionary grab row according to index value')
import pandas as pd
data= {
    "Stuname":["Amit","Sumit","Radha"],
    "stumarks":[50,30,60]
}
df=pd.DataFrame(data,index=["stu1","stu2","stu3"])
print(df)
print("grab row according to index value")
df.iloc[2]

create dictionary grab row according to index value
     Stuname  stumarks
stu1    Amit        50
stu2   Sumit        30
stu3   Radha        60
grab row according to index value

Stuname     Radha
stumarks       60
Name: stu3, dtype: object