************************* How to create new columns derived from existing columns*************************

In [2]:
print('create a new column from the existing column fron the table')
import pandas as pd

create a new column from the existing column fron the table

In [1]:
import pandas as pd
data= {
    "Stuname":["Amit","Sumit","Radha"],
    "stumarks":[50,30,60],
    "rollno":[100,99,200]
}
df=pd.DataFrame(data,index=["stu1","stu2","stu3"])
print(df)
sort1=df.sort_values(by=["stumarks","rollno"])
#sort1=df.sort_values(by="rollno")
sort1

     Stuname  stumarks  rollno
stu1    Amit        50     100
stu2   Sumit        30      99
stu3   Radha        60     200

     Stuname  stumarks  rollno
stu2   Sumit        30      99
stu1    Amit        50     100
stu3   Radha        60     200